<div class="container-fluid" id="bg-centro">
  <div class="row d-flex align-items-center">

    <div class="col-md-4"></div>

    <div class="col-md-4 cor-bg">
          <h1 class="text-center mb-4">Entrar</h1>

          <div class="form-group centro ">
            <label for="usuario">Usuário</label>
            <input [(ngModel)]='userLogin.usuario' class="form-control forma " type="text" name="usuario" id="usuario" placeholder="Informe seu usuário">
          </div>

        <div class="form-group centro">
          <label for="usuario">Senha</label>
          <input [(ngModel)]='userLogin.senha' class="form-control forma mb-4" type="password" name="senha" id="senha" placeholder="Informe sua senha">
        </div>

        <div class="d-flex justify-content-center ">
          <button type="submit" class="btn btn-success" (click) = 'entrar()'>Entrar</button>
        </div>



        <p class="text-center mt-5 mb-5 text-light">
          Não tem uma conta?
          <a routerLink='/cadastrar'>Cadastre-se</a>
        </p>



    </div>

    <div class="col-md-4"> </div>
  </div>
</div>
