<div class="cor-bg">

<div class="container-fluid " id="bg-centro">
  <div class="row d-flex align-items-center">

    <div class="col-md-4"></div>

    <div class="col-md-4">
          <h1 class="text-center mb-4">Entrar</h1>

          <div class="form-group centro ">
            <label for="nome">Nome</label>
            <input class="form-control forma " type="text" name="nome" id="nome" placeholder="Informe seu nome">
          </div>

          <div class="form-group centro ">
            <label for="usuario">Usuário</label>
            <input class="form-control forma " type="text" name="usuario" id="usuario" placeholder="Informe seu usuário">
          </div>

          <div class="form-group centro">
          <label for="senha">Senha</label>
          <input class="form-control forma mb-4" type="password" name="senha" id="senha" placeholder="Informe sua senha">
        </div>

          <div class="form-group centro ">
            <label for="confirmSenha">Confirme a senha</label>
            <input class="form-control forma " type="password" name="" id="confirmSenha" placeholder="Confirme sua senha">
          </div>

          <div class="form-group centro">
            <label for="foto">Link da Foto</label>
            <input class="form-control forma" type="text" name="foto" id="foto" placeholder="Link da sua foto">
          </div>



          <div class="d-flex justify-content-center mb-pe mt-5">
            <button type="submit" class="btn btn-danger mr-4" routerLink='/entrar'>Cancelar</button>
            <button type="submit" class="btn btn-success" >Cadastrar</button>
          </div>


    </div>
  </div>
</div>



</div>
